@import "../scss/variables.scss";
.card {
  max-width: 31.375rem;
  min-height: 11.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $main-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 26px $main-padding $main-padding;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  align-self: center;
  color: $secondary-color;
  text-transform: uppercase;
}

.logo {
  align-self: start;
}

.details {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.description {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
