@import "../scss/variables.scss";
.filterBlock {
  padding: $main-padding;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 14em;
  height: 252px;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  background-color: $main-color;
}
.title {
  color: $text-color-dark;
  letter-spacing: 0.5px;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 800;
  text-transform: uppercase;
}
@media only screen and (max-width: $screen-sm) {
  .filterBlock {
    width: 100%;
    max-width: 31.375rem;
    height: auto;
  }
}
