@import "../scss/variables.scss";

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  &__logo {
    min-width: 10%;
  }
}

@media only screen and (max-width: $screen-xs) {
  .header {
    height: 100px;
  }
}

@media only screen and (max-width: $screen-sm) {
  .header {
    &__logo {
      width: 100px;
    }
  }
}
